/* RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* COMMON */
.app-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}


/* SLIDER */
.slider {
    height: 60%;
    width: 80%;
    display: flex;
}



.image-container {
    height: 100%;
    width: 70%;
}

/* Single Image */
.single-image {
    height: 100%;
    width: 100%;
    display: none;
}
.single-image.active {
    display: block;
}

/* Thumbs */
.thumbs {
    height: 100%;
    width: 30%;
}
.single-thumbs {
    height: 20%;
    width: 100%;
}